---
title: Using MySQL in Docker  
date: 2016-01-13  
comments: false  
tags: Python, SQL, Docker, programming tips   
keywords: python, programming, docker,  mysql 

---

## Install the Docker Toolbox

The first step is installing the Docker Toolbox. This contains 


## Set up your server in Kitematic


## Connecting using SequelPro

In [ ]:
-- Create tables
DROP TABLE IF EXISTS ratingsdata;
CREATE TABLE ratingsdata ( 
   userid INT, 
   itemid INT, 
   rating INT, 
   timestamp INT, 
   PRIMARY KEY (userid, itemid)); 

DROP TABLE IF EXISTS movies;
CREATE TABLE movies ( 
   itemid INT PRIMARY KEY, 
   title TEXT, 
   genres TEXT,
   action INT DEFAULT 0,
   adventure INT DEFAULT 0,
   animation INT DEFAULT 0,
   childrens INT DEFAULT 0,
   comedy INT DEFAULT 0,
   crime INT DEFAULT 0,
   documentary INT DEFAULT 0,
   drama INT DEFAULT 0,
   fantasy INT DEFAULT 0,
   noir INT DEFAULT 0,
   horror INT DEFAULT 0,
   musical INT DEFAULT 0,
   mystery INT DEFAULT 0,
   romance INT DEFAULT 0,
   scifi INT DEFAULT 0,
   thriller INT DEFAULT 0,
   war INT DEFAULT 0,
   western INT DEFAULT 0);

In [ ]:
-- Create table from web scraped list of Christmas movies
DROP TABLE IF EXISTS christmas;
CREATE TABLE christmas (
	name TEXT);

In [ ]:
-- Create indexes
CREATE INDEX usersdata_index ON ratingsdata (userid); 
CREATE INDEX itemsdata_index ON ratingsdata (itemid);

In [ ]:
-- Loading in data
LOAD DATA LOCAL INFILE 'path/to/data/ratings.dat' 
	INTO TABLE ratingsdata 
	FIELDS TERMINATED BY '::';

LOAD DATA LOCAL INFILE 'path/to/data/movies.dat' 
	INTO TABLE movies 
	FIELDS TERMINATED BY '::';

In [ ]:
-- Import web scraped list of Christmas movies to table
LOAD DATA LOCAL INFILE 'path/to/data/christmas_movies.txt' 
	INTO TABLE christmas;

In [ ]:
-- Query to merge the top Christmas movies with the MovieLens 10M list
SELECT COUNT(name) 
FROM (
   SELECT * 
   FROM christmas 
   INNER JOIN movies
   ON UPPER(movies.title)
      LIKE CONCAT('%', UPPER(christmas.name), '%')
) AS counts;

In [ ]:
-- Christmas movies IDs table.
DROP TABLE IF EXISTS christmasids;
CREATE TABLE christmasids (
   itemid INT);

INSERT INTO christmasids
SELECT movies.itemid
FROM christmas 
INNER JOIN movies
ON UPPER(movies.title)
   LIKE CONCAT('%', UPPER(christmas.name), '%');

In [ ]:
-- Update the movie table by filling in genre binaries
   -- Action
UPDATE movies
SET action = 1
WHERE genres LIKE '%Action%';